# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Greetings"

on: ["pull_request", "issues"] # yamllint disable-line rule:truthy

permissions:
    contents: "read"

jobs:
    greeting:
        permissions:
            issues: "write" # for actions/first-interaction to comment on first issue
            pull-requests: "write" # for actions/first-interaction to comment on first PR
        runs-on: "ubuntu-latest"

        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2" # v2.13.2
              with:
                  egress-policy: "audit"

            - uses: "actions/first-interaction@1c4688942c71f71d4f5502a26ea67c331730fa4d" # v3.1.0
              with:
                  repo-token: "${{ secrets.GITHUB_TOKEN }}"
                  issue_message: "Awesome! Thank you for taking the time to create your first issue! Please review the [guidelines](https://visulima.com/docs/contributing)"
                  pr_message: "Great! Thank you for taking the time to create your first pull request! Please review the [guidelines](https://visulima.com/docs/contributing)"
