# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Lock File Maintenance"

on: # yamllint disable-line rule:truthy
    workflow_call:
        inputs:
            target-repo:
                description: "The repo to run this action on. This is to prevent actions from running on forks unless intended."
                required: true
                type: "string"
            node-version:
                description: "The node.js version to use"
                required: false
                type: "string"
                default: "18.x"

permissions:
    contents: "read" # for checkout

jobs:
    lock-file:
        name: "Lock File Maintenance"
        if: "github.repository == inputs.target-repo"
        runs-on: "ubuntu-latest"
        permissions:
            contents: "write" # to be able to publish a GitHub release
            issues: "write" # to be able to comment on released issues
            pull-requests: "write" # to be able to comment on released pull requests
            id-token: "write" # to enable use of OIDC for npm provenance

        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6" # v2.8.1
              with:
                  egress-policy: "audit"

            - name: "Git checkout"
              uses: "actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29" # v4.1.6
              with:
                  token: "${{ secrets.LOCK_MAINTENANCE_GITHUBG_TOKEN }}"
              env:
                  GIT_COMMITTER_NAME: "GitHub Actions Shell"
                  GIT_AUTHOR_NAME: "GitHub Actions Shell"
                  EMAIL: "github-actions[bot]@users.noreply.github.com"

            - name: "Setup resources and environment"
              id: "setup"
              uses: "anolilab/workflows/step/setup@main"
              with:
                  node-version: "${{ inputs.node-version }}"
                  cache-prefix: "lock-file"

            - name: "Update lock file"
              if: "success()"
              run: "pnpm install --lockfile-only"

            - name: "Commit lock file"
              if: "success()"
              uses: "stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842" # v5.0.1
              with:
                  file_pattern: "pnpm-lock.yaml"
                  commit_message: "chore: update lock file [ci skip]"
                  commit_user_name: "github-actions-shell"
                  commit_user_email: "github-actions[bot]@users.noreply.github.com"
                  commit_author: "github-actions-shell <github-actions[bot]@users.noreply.github.com>"
