# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

name: "Lock old issues and pull requests"

on: # yamllint disable-line rule:truthy
    workflow_call:
        inputs:
            target-repo:
                description: "The repo to run this action on. This is to prevent actions from running on forks unless intended."
                required: true
                type: "string"
            issue-inactive-days:
                description: "The number of days before an issue is considered inactive."
                default: "30"
                required: false
                type: "string"
            issue-comment:
                description: "Comment to post before locking an issue"
                default: >
                    This issue has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bugs.

                    Please note this issue tracker is not a help forum. We recommend using our GitHub Discussions tab for questions.
                required: false
                type: "string"
            pr-inactive-days:
                description: "Number of days of inactivity before a closed pull request is locked"
                default: "30"
                required: false
                type: "string"
            pr-comment:
                description: "Comment to post before locking a pull request"
                default: >
                    This pull request has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bugs.

                    Please note this issue tracker is not a help forum. We recommend using our GitHub Discussions tab for questions.
                required: false
                type: "string"
            exclude-any-issue-labels:
                description: "Do not lock issues with any of these labels, value must be a comma separated list of labels or ''"
                default: "p: 2-high,p: 3-urgent,do NOT merge yet,good first issue"
                required: false
                type: "string"
            add-issue-labels:
                description: "Labels to add before locking an issue, value must be a comma separated list of labels or ''"
                default: "bot: closed"
                required: false
                type: "string"

permissions:
    issues: "write"
    pull-requests: "write"

concurrency:
    group: "lock"

jobs:
    lock-closed:
        if: "github.repository == inputs.target-repo"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e" # v2.14.2
              with:
                  egress-policy: "audit"

            - uses: "dessant/lock-threads@7266a7ce5c1df01b1c6db85bf8cd86c737dadbe7" # v6.0.0
              with:
                  exclude-any-issue-labels: "${{ inputs.exclude-any-issue-labels }}"
                  add-issue-labels: "${{ inputs.add-issue-labels }}"
                  issue-inactive-days: "${{ inputs.issue-inactive-days }}"
                  issue-comment: "${{ inputs.issue-comment }}"
                  pr-inactive-days: "${{ inputs.pr-inactive-days }}"
                  pr-comment: "${{ inputs.pr-comment }}"
