name: pnpm-lock-file-maintenance
on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC
jobs:
  pnpm-lock-file-maintenance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Run pnpm lock file maintenance
        run: pnpm install && pnpm up --latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.github_token }}