name: pnpm-lock-file-maintenance
on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC
jobs:
  pnpm-lock-file-maintenance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run pnpm lock file maintenance
        run: pnpm install && pnpm up --latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.github_token }}