# Note: this is a shared pipeline used by other repositories.
# Docs: https://docs.github.com/en/actions/using-workflows/reusing-workflows

name: "Lock File Maintenance"

on: # yamllint disable-line rule:truthy
    workflow_call:
        inputs:
            target-repo:
                description: "The repo to run this action on. This is to prevent actions from running on forks unless intended."
                required: true
                type: "string"

            node-version:
                description: "The node version to use for the job."
                required: true
                type: "string"

permissions:
    contents: "read" # for checkout

jobs:
    lock-file:
        name: "Lock File Maintenance"
        if: "github.repository == inputs.target-repo"
        runs-on: "ubuntu-latest"
        permissions:
            contents: "write"

        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2" # v2.13.3
              with:
                  egress-policy: "audit"

            - name: "Git checkout"
              uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
              with:
                  token: "${{ secrets.LOCK_MAINTENANCE_GITHUB_TOKEN }}"
              env:
                  GIT_COMMITTER_NAME: "GitHub Actions Shell"
                  GIT_AUTHOR_NAME: "GitHub Actions Shell"
                  EMAIL: "github-actions[bot]@users.noreply.github.com"

            - name: "Setup resources and environment"
              id: "setup"
              uses: "anolilab/workflows/step/setup@main"
              with:
                  node-version: "${{ inputs.node-version }}"
                  cache-prefix: "lock-file-update"
                  install-packages: "false"

            - name: "Update lock file"
              if: "success()"
              run: "pnpm install --lockfile-only && pnpm dedupe"

            - name: "Commit lock file"
              if: "success()"
              uses: "stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3" # v7.0.0
              with:
                  file_pattern: "pnpm-lock.yaml"
                  commit_message: "chore: updated lock file [ci skip]"
                  commit_user_name: "github-actions-shell"
                  commit_user_email: "github-actions[bot]@users.noreply.github.com"
                  commit_author: "github-actions-shell <github-actions[bot]@users.noreply.github.com>"
