# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "set-default-labels"

on: # yamllint disable-line rule:truthy
    workflow_call:
        inputs:
            target-repo:
                description: "The repo to run this action on. This is to prevent actions from running on forks unless intended."
                required: true
                type: "string"
            skip-delete:
                description: "Delete labels that are not in the list"
                default: false
                required: false
                type: "boolean"
            dry-run:
                description: "If enabled, changes will not be applied."
                default: "${{ github.event_name == 'pull_request' }}"
                required: false
                type: "boolean"
            yaml-file:
                description: "Path to YAML file containing labels definitions."
                default: ".github/labels.yml"
                required: false
                type: "string"

permissions:
    # Issues and related comments, assignees, labels, and milestones.
    issues: "write"

jobs:
    set-default-labels:
        if: "github.repository == inputs.target-repo"
        runs-on: "ubuntu-latest"
        steps:
            - name: "Harden Runner"
              uses: "step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e" # v2.14.2
              with:
                  egress-policy: "audit"

            - name: "Git checkout"
              uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
              env:
                  GIT_COMMITTER_NAME: "GitHub Actions Shell"
                  GIT_AUTHOR_NAME: "GitHub Actions Shell"
                  EMAIL: "github-actions[bot]@users.noreply.github.com"

            - uses: "crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916" # v5.3.0
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"
                  yaml-file: "${{ inputs.yaml-file }}"
                  dry-run: "${{ inputs.dry-run }}"
                  skip-delete: "${{ inputs.skip-delete }}"
